<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App-App_Classes.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>Home.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>Root-Interfaces.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>Root.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>Thirdparty-RIBs-RIBs.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>Thirdparty-RxSwift-RxRelay.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>Thirdparty-RxSwift-RxSwift.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>_idx_Scheme.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ios_app.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>ome-Interfaces.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict/>
</dict>
</plist>
